@import url(reset.css);

.luckiest {
  font-family: "Luckiest Guy";
}

header {
  background-image: url(../assets/images/svg-header-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 69px 24px;
}

.header-info p {
  font-family: sans-serif;
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  font-family: sans-serif;
  gap: 27px;
}

.section h2 {
  font-weight: 800;
}

.section p {
  font-weight: 400;
}

footer {
  background-color: #23272a;
  display: flex;
  justify-content: center;
  padding: 44px 16px;
}
